:root{
--salmon: #FC766AFF;
--light: #B0B8B4FF;
--dark: #184A45FF;

}

body{
  display:block;
  background-color: var(--light);
  font-family: 'Ubuntu', sans-serif;
}

#quizStart{
  border-radius: 10px;
  background-color: rgb(197, 0, 0);
  font-family: 'Ubuntu', sans-serif;
  font-size: larger;
  width: 50%;
  height: 30%;
}

#quizStart:hover{
  transition: 0.3s background-color;
  transition: 0.3s color;
  transition: 0.3s box-shadow;
  color: yellow;
  background-color: red;
  box-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px rgb(131, 0, 0);
}

#currentScoreDisplay {
  position: absolute;
  right:10px;
  top:0px;
}

.quizQuestion{
  display: none;
  background-color: var(--salmon);
  border: var(--dark) solid 5px;
  border-radius: 15px;
  text-align: center;
  margin: 10px;
  height: 300px;
  box-shadow: 10px 10px 10px black;
}

.quizEndPage{
  display:none;
  margin: 2px;
}

 .landingPage{
  display: block;
  background-color: var(--salmon);
  border: var(--dark) solid 5px;
  border-radius: 15px;
  text-align: center;
  margin: 10px;
  height: 300px;
  box-shadow: 10px 10px 10px black;
} 


#viewHighScores{
  position: relative;
  width: 50%;
  margin: 5% auto 0 auto;
  border: 2px solid green;
  text-align: center;
  color:white;
  background-color: #333;
}

#viewHighScores:hover{
  border: 2px solid black;
  color:white;
  background-color: rgb(155, 1, 1);
}

#viewHighScores:active{
  border: 2px solid black;
  color:white;
  background-color:orange;
}

#restartQuiz{
  display:none;
  border:2px grey solid;
  color:#fff;
  background-color: #000;
  text-align: center;
  width: 50%;
  margin:0 auto;
}

#restartQuiz:hover{
  background-color:red;
}

#restartQuiz:active{
  background-color: gold;
  color:black;
  border: 2px black solid;
}

#currentScoreDisplay{
  display: none;
}

#timeLeftDisplay{
  display: none;
}

#mostRecentScoreDisplay{
  display: none;
}

#answerCheck{
  display: none;
}

#highScorePage{
  display:none;
}

