body{
  display:block;
}

.quizQuestion{
  display:none;
  margin: 2px;
}

 #landingPage{
  display: block;
} 

#currentScoreDisplay{
  display: none;
}

#timeLeftDisplay{
  display: none;
}

#mostRecentScoreDisplay{
  display: none;
}

#answerCheck{
  display: none;
}

#restartQuiz{
  display:none;
  border:2px grey solid;
  color:#fff;
  background-color: #000;
  text-align: center;
  width: 50%;
  margin:0 auto;
}

#restartQuiz:hover{
  background-color:red;
}

#restartQuiz:active{
  background-color: gold;
  color:black;
  border: 2px black solid;
}